/* General */
body{
    font-family: 'Poppins', 'Inter', 'Prompt';
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #F8E7F9;
    color: #6B21A8;
}

/* Sombras y Espaciados */
body > header-info,
body > footer-info,
body > :content-component {
    margin: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0;
}