
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

body{
    font-family: 'Poppins', 'Inter', 'Prompt', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #F8E7F9; 
    color: #6B21A8;
}

body > header-empresas-info,
body > footer-info {
    margin: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 40px 20px;
}


.form-container {
    background-color: #D492FF; 
    border-radius: 20px;
    padding: 30px 40px;
    max-width: 600px; 
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.titulo-form {
    color: white; 
    font-size: 1.8rem;
    margin-bottom: 5px;
}

.campos-requeridos {
    color: white; 
    font-size: 0.9em;
    margin-bottom: 20px;
}


.general-form {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 15px 30px;
}

.general-form > label {
    color: white;
    font-weight: bold;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 5px;
    grid-column: 1 / 3; 
}
.general-form textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: white;
    box-sizing: border-box;
    font-size: 1rem;
    resize: none; 
    min-height: 100px; 
    margin: 0;
    grid-column: 1 / 3; 
}



.form-grid-row {
    grid-column: 1 / 3; 
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 30px;
    width: 100%;
}

.form-field-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-field-group label {
    color: white;
    grid-column: auto; 
    margin-top: 0;
    margin-bottom: 5px;
    font-style: bold;
    font-weight: 00;
}

.form-field-group input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: white;
    box-sizing: border-box;
    font-size: 1rem;
    margin-bottom: 0;
}


.imagen-form {
    height: 4rem;
    width: 20rem;
    background-color: white;
    grid-column: 1 / 3; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
}

.imagen-form input[type="file"] {
    font-size: 1rem;
    color: black;
}


.boton {
    background-color: #8a2be2;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    width: 60%; 
    margin: 30px auto 0 auto; 
    grid-column: 1 / 3; 
}

.boton:hover {
    background-color: #6a0dad; 
}

.required::before {
    content: '*';
    color: #ff0000;
    margin-right: 5px;
}

