/* General */
body{
    font-family: 'Poppins', 'Inter', 'Prompt';
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #F8E7F9;
    color: #6B21A8;
    
}

/* Sombras y Espaciados */
body > header-info,
body > footer-info,
body > :content-component {
    margin: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0;

}


.titulo {
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 20rem ; 
    max-width: 900px; 
    color: black;
    text-align: left; 
}


.main-content {
    background-color: white;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    border-radius: 25px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 90%;
    margin: 1rem auto 4rem auto; 
    padding: 30px 40px; 

}

.solicitudes-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-height: 55vh; 
    overflow-y: auto;
    padding-right: 8px; 
}


.solicitud-card {
    display: flex; 
    gap: 25px; 
    align-items: flex-start; 
    width: 100%;
    
}

.estado-wrapper {
    width: 100%;
    padding-top: 15px; 
    padding-bottom: 25px; 
    border-bottom: 1px solid #f0f0f0;
    
}

.solicitudes-container .estado-wrapper:last-child {
    border-bottom: none;
    padding-bottom: 0;
}


.img-container {
    width: 350px; 
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0; 
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


.text-content {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
    padding-top: 5px; 
    flex-grow: 1; 
}

.nombre-mascota {
    font-size: 1.5rem;
    font-weight: 700;
    color: #6B21A8; 
    
}

.descripcion {
    font-size: 1rem;
    font-weight: 700; 
    color: black;
    font-style: bold;
}

.fecha {
    margin-top: 2rem;
    font-size: 0.9rem;
    color: black;
    font-weight: 400;
    
}

.estado-info {
    display: flex;
    gap: 5px;
    justify-content: flex-start; 
    margin-top: 10px; 
    padding-left: 25px; 
}

.estado-label {
    font-weight: 1000; 
    color: black;
    font-style: bold;
}

.estado-value-aceptada {
    color: green; 
    font-size: 1rem;
    font-weight: 1000;
}

.estado-value-pendiente {
    color: rgb(231, 231, 50); 
    font-size: 1rem;
    font-weight: 1000;
}