@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

body{
    font-family: 'Poppins', 'Inter', 'Prompt', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #F8E7F9;
    color: #6B21A8;
    
}

body > header-info,
body > footer-info {
    margin: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0;
}

.main-content {
   display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
    max-width: 1800px;
    width: 100%;
    align-items: center; 
    margin: 0 auto; 
    padding: 30px 20px;
}

.main-content2 {
   display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px; 
    max-width: 1200px;
    width: 100%;
    align-items: center; 
    margin: 0 auto; 
    padding: 30px 20px;
}


.seccion {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    height: auto; 
    transition: transform 0.3s;
}

.seccion:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}



.image-container {
    width: 100%;
    height: 180px; 
    overflow: hidden;
    flex-shrink: 0;
}

.imagen {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}


.contenido {
   padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    justify-content: space-between; 
    align-items: flex-start;
}

.titulo {
    font-size: 1.15rem;
    font-weight: 600;
    color: #4b0082; 
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.4;
}

.link {
    font-size: 0.95rem;
    color: #8a2be2;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s;
}

.link:hover {
    color: #6a0dad;
}



@media (max-width: 992px) {
    .main-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .main-content {
        grid-template-columns: 1fr;
    }
}